.verifyHash-page {
    /* display: flex; */
    /* flex-direction: column; */
    gap: 2px;
    /* Space between flex children */
}



.custom-select{
margin-top: 10px;
}

.similarity-score {
  position: fixed; /* or absolute, depending on your layout */
  left: 0;
  top: 0;
  font-size: 3em;
  font-weight: bold;
  padding: 20px;
  z-index: 10; /* ensure it's above other elements */
}

/* Add classes for color ranges */
.similarity-high {
  color: #00ff00; /* green for high similarity */
}
.similarity-medium {
  color: #ffff00; /* yellow for medium similarity */
}
.similarity-low {
  color: #ff0000; /* red for low similarity */
}

.para{
  font-size: 1em;
}